name: CI

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

jobs:
  gitHubActionForPytest:
    runs-on: ubuntu-latest
    name: GitHub Action
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt -r requirements-dev.txt
    - name: Lint
      run: |
        make lint
    - name: Test
      run: |
        make coverage
